<!DOCTYPE html>
<html>

<head>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
     <link rel='stylesheet' href='/../css/styles.css'>
  <title>Rock Paper Scissor!</title>
</head>

<body>
  <div class='container-fluid'>
    <center>
      <h1>Play Rock Paper Scissor</h1>
      <div class='row'>
        <div class="col-md-6">
        <p>Play With the Computor</p>
        <div class="rounded">
         <a href="/singlePlayer">
                   <img src="https://openclipart.org/image/300px/svg_to_png/809/karderio-computer-screen.png" height="300" width="300" >
        </a>
        </div>
        </div>
        <div class="col-md-6">
        <p>Two Players</p>
          <a href='/TwoPlayer'><img src="https://openclipart.org/image/300px/svg_to_png/213382/rock-paper-scissors.png"></a>
         
        </div>
      </div>
      <center>
  </div>

</body>

</html>