<!DOCTYPE html>
<html>
    <head>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
        <title>Anagram Tester!</title>
    </head>
    <body>
        <div class='container'>
            <h1>Play Rock Paper Scissor</h1>
            <ol>
                <div class='row'>
                <form action='singlePlayer' method='post'>

                    <button type='submit' class='btn-success'>Play With Computor</button>
                </form>
            </div>
                <div class='row'>
                <form action='TwoPlayer' method='post'>

                    <button type='submit' class='btn-success'>Two Players</button>
                </form>
            </div>
            </div>
        </div>
    </body>
</html>
