<!DOCTYPE html>
<html>

<head>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
  <link rel='stylesheet' href='/../css/styles.css'>
  <title></title>
</head>

<body>
  <div class='container'>
    <center>
      <h1>Which one do you choose?</h1>
      <ol>

      </ol>
      <div class='row'>

        <form action='singleplay' method='post'>

          <button type="submit" class="btn rpg" name="input1" value="paper"><img 
          src="/images/paper-md.png" width="100" height="100" alt="paper">
          </button>
          <button type="submit" class="btn rpg" name="input1" value="rock"><img src="/images/rock.png" width="100" height="100" alt="rock">
          </button>
          <button type="submit" class="btn rpg" name="input1" value="scissors"><img src="/images/scissor.png" width="100" height="100" alt="scissor">
          </button>
        </form>

      </div>
    </center>
  </div>
</body>

</html>
