<!DOCTYPE html>
<html>
    <head>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
        <title>Anagram Tester!</title>
    </head>
    <body>
        <div class='container'>
            <h1>Who Won?</h1>
            <ol>
                <div class='row'>

                    <Li>Computor Said</li>
                        {{ computer }}
                        <Li>You Said</li>
                            {{ you }}


                        <li>Who Won..........</li>
                    {{ result }}



            </div>
            </div>
        </div>
    </body>
</html>
