<!DOCTYPE html>
<html>
    <head>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
        <title>Anagram Tester!</title>
    </head>
    <body>
        <div class='container'>
            <h1>Play Rock Paper Scisor</h1>
            <ol>

            </ol>
            <div class='row'>
                <form action='singleplay' method='post'>
                    <div class='form-group'>
                        <label for='input1'>Player 1</label>
                        <input id='input1' name='input1' class='form-control' type='text'>
                    </div>

                    <!-- $person_move1= $_POST['input1'];
                    $person_move2= $_POST['input2'];
                    $GameResult = $new_Game->PlayGame($person_move1,$person_move2); -->

                    <button type='submit' class='btn-success'>Submit</button>
                </form>
            </div>
        </div>
    </body>
</html>
