<!DOCTYPE html>
<html>
    <head>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
        <title>Anagram Tester!</title>
    </head>
    <body>
        <div class='container'>
            <h1>Who Won?</h1>

                <div class='row'>

                    <Li>First Player Chose</li>
                        {{ player1 }}
                        <li> </li>
                    <Li>Second Player Chose</li>
                            {{ player2 }}
                    <li>Who Won..........</li>
                    {{ result }}



            </div>
            </div>
        </div>
    </body>
</html>
