<!DOCTYPE html>
<html>
    <head>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
        <title>Rock Paper Scrissors Game!</title>
    </head>
    <body>
        <div class='container'>
            <h1>Rock Paper Scrissors Game!</h1>
            <ol>

            </ol>
            <div class='row'>
                <form action='player2' method='post'>
                    <div class='form-group'>
                        <label for='input1'>Player 1</label>
                        <input id='input1' name='input1' class='form-control' type='text'>
                    </div>

                    <button type='submit' class='btn-success'>Submit</button>
                </form>
            </div>
        </div>
    </body>
</html>
